name: CI

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --hook-stage manual --all-files

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        # Test against at least 3 most recent Python versions
        python-version: ["3.12", "3.13", "3.14"]
        runs-on: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: "true" # source .venv/bin/activate

      - name: Install package
        run: uv pip install '.[dev]'

      - name: Test package
        env:
          MAXAR_API_KEY: ${{ secrets.MAXAR_API_KEY}}
          EARTHDATA_TOKEN: ${{ secrets.EARTHDATA_TOKEN}}
        run: >-
          python -m pytest -ra --cov --cov-report=term --durations=20
