name: Pixi

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-west-2
      AWS_NO_SIGN_REQUEST: "YES"
    steps:
      - uses: actions/checkout@v5

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: dev
          manifest-path: pyproject.toml
          cache: true
          frozen: true

      # NOTE: https://github.com/prefix-dev/setup-pixi/issues/136
      - name: Ensure Dynamic version
        run: |
          pip install -e . --no-deps

      - name: Run Pylint
        continue-on-error: true
        run: |
          pixi run lint

      - name: Run Pytest
        env:
          MAXAR_API_KEY: ${{ secrets.MAXAR_API_KEY}}
          EARTHDATA_TOKEN: ${{ secrets.EARTHDATA_TOKEN}}
        run: |
          pixi run networktest
