name: Pixi

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.3
        with:
          environments: dev
          manifest-path: pyproject.toml
          cache: false
          locked: false
          #cache-write:
          #  ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      # NOTE: https://github.com/prefix-dev/setup-pixi/issues/136
      - name: Ensure Dynamic version
        run: |
          pip install -e .

      - name: Run Pylint
        continue-on-error: true
        run: |
          pixi run lint

      - name: Run Pytest
        env:
          MAXAR_API_KEY: ${{ secrets.MAXAR_API_KEY}}
        run: |
          pixi run networktest
